.image {
    width: 200px;
    height: 260px;
    border: black solid 2px;
    display: inline-block;
    margin: 20px 0 20px 20px;
    border-radius: 15px;
}


.image img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 15px;
}

.image .interest {
    border-top: grey solid 1px;
}

/*.interest span:first-child {
    border: 1px solid red;
}*/
.interest img {
    margin-left: 5px;
    width: 35px;
    height: 35px;
}
.interest img:first-child {
    background-color: green;
}

.interest img:nth-child(2) {
    background-color: red;
}
/*.interest {
    background-image: url("../images/like-dislike.jpg");
    background-position: left center;
    background-size: 90px 40px;
    width: 50px;
    height: 50px;
}*/
